/*
 * Put your custom CSS in here to avoid it being overwritten by updates.
 *
 * Rename this file to custom.css and place it in the custom folder.
 * /basestation/custom/custom.css
 *
 * @package Base Station
 * @since Base Station 0.2
 *
 */
 .customtest {
 	font-weight: bold;
 }